.main-body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.reset-container {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-top: 60px;
}

.profile-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #007BFF;
  margin: 0 auto 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: #fff;
}

.reset-form {
  max-width: 300px;
  margin: 0 auto;
}

.main-content {
  margin-bottom: 20px;
}

.main-content label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.main-content input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #1877F2;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
}

button:hover {
  background-color: #166fe5;
}

.options {
  margin-top: 20px;
}

.back-link {
  color: #1877F2;
  text-decoration: none;
  font-weight: bold;
}

.back-link:hover {
  text-decoration: underline;
}
.options a {
  font-weight: normal;
}
.profile-image p {
  color: gray;
}
.main-content label {
  font-weight: 600;
  font-size: 16px;
  text-align: left;
}
.top-border {
  background-color: #fff;
  width: 100%;
  top: 0px;
  position: fixed;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.top-border img {
  margin-left: 20px;
}
.Confirm-btn{
  float: right;
}
.cancel-btn{
  float: left;
}
