<div class="main-body">
  <div class="top-border">
    <img src="assets/images/loginPage/Logo.png" style="width:150px">
  </div>
  <div class="reset-container">
    <div class="profile-image">?</div>
    <h2>Enter Your New Password</h2>
    <p style="font-size: 14px; color: #C7C7CB; font-weight: normal; margin-bottom: 20px;">Please create a new password
      below. The password must be <br> at least 8 characters long and contain both letters <br> (A-Z) and numbers (0-9).
    </p>
    <form class="reset-form" action="#" method="POST">
      <div class="form-group main-content">
        <label for="password">Enter New Password</label>
        <input type="password" id="password" name="password" class="form-control" required>
      </div>
      <div class="form-group main-content" style="margin-bottom: 25px;">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" class="form-control" name="confirmPassword" required>
      </div>
      <button class="btn btn-danger cancel-btn" type="submit" routerLink="">Cancel</button>
      <button class="btn btn-primary Confirm-btn" type="submit" (click)="saveNewPassword()" [disabled]="OnetimeClicked">Confirm</button>

    </form>
  </div>
</div>

