<div class="main-body">
<div class="top-border">
  <img src="assets/images/loginPage/Logo.png" style="width:150px">
</div>
<div class="reset-container">
  <div class="profile-image">?</div>
  <h2>Reset Your Password</h2>
  <p style="font-size: 14px; color: #C7C7CB; font-weight: normal; margin-bottom: 20px;">Please enter your registered
    email. We'll send a secure OTP <br> allowing you to securely reset your password.</p>
  <form class="reset-form" action="#" method="POST">
    <div class="form-group textContent">
      <label for="txtEmail">Enter Email</label>
      <input type="email" id="txtEmail" class="form-control" name="txtEmail" required>
      <label style="color: red; display: none; font-size: 14px; font-weight: normal" id="distext">Invalid Email !</label>
    </div>

    <button type="submit" class="reset-button" (click)="resetPassword()" [disabled]="OnetimeClicked">Send OTP</button>
  </form>
</div>
</div>
