<form [formGroup]="shipmentForm" (ngSubmit)="submit(2)">
  <div class="container-fluid">
    <div class="row product-adding">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="input-group col-md-8" style="margin-left: 14%;">
              <app-dropdown [dataArray]="partnerProductArray" [isDisabled]="isOnDemandShipment" [defaultValue]="selectProduct" (selected)="changedProduct($event)" ></app-dropdown>
              <!--<input type="text" class="form-control" id="txtSearchBox" formControlName="txtSearchBox"
                     placeholder="Search your product here"
                     aria-label="Recipient's username" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="searchProduct()">Search</button>
              </div>-->
              <!--<select (change)="changedProduct()" [disabled]="isOnDemandShipment" class="custom-select"
                      id="SelectedProduct">
                <option value="">Select Your Product</option>
                <option *ngFor="let prodct of partnerProductArray; let i = index" [attr.data-index]="i" value="{{i}}">
                  {{prodct['name']}}
                </option>
              </select>-->
            </div>
            <!--<ul style="margin-left: 16%; background-color: #e8f0fe;width: 63%; box-shadow:0 0 3px #979797">
              <li
                style="padding: 10px 15px; background:#eee; color: #000080; background:#fff;"
                *ngFor="let searchProductArrays of partnerProductArray" (click)="selectedProduct(searchProductArrays)">
                <div style="cursor: pointer;"> {{searchProductArrays['name']}}</div>
              </li>
            </ul>-->

          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="digital-add needs-validation">
              <div class="row parent-common-fields">
                <div class="middle-parent">
                  <div class=" common-fields">
                    <div class="form-group">
                      <label for="txt_title" class="col-form-label"> Product Code</label>
                      <input class="form-control" formControlName="txtProductCode" id="txt_title" type="text"
                             required="" disabled>
                    </div>
                  </div>
                  <div class=" common-fields">
                    <div class="form-group">
                      <label for="txtProductName" class="col-form-label">Product Name</label>
                      <input class="form-control" formControlName="txtProductName" id="txtProductName" type="text"
                             required="" disabled>
                    </div>
                  </div>
                  <div class=" common-fields">
                    <div class="form-group">
                      <label for="txtSellingPrice" class="col-form-label">Listing Price</label>
                      <input class="form-control" formControlName="txtSellingPrice" id="txtSellingPrice" type="text"
                             required="" disabled>
                    </div>
                  </div>
                  <div class="common-fields">
                    <div class="form-group">
                      <label for="txtCostPrice" class="col-form-label">Seller income </label>
                      <input class="form-control" formControlName="txtCostPrice" id="txtCostPrice" type="text"
                             required="" disabled>
                    </div>
                  </div>
                  <div class="common-fields" hidden>
                    <div class="form-group">
                      <label for="txtChangingAmount" class="col-form-label">Changing Amount</label>
                      <input class="form-control" (keyup)="changingAmountCalculation()"
                             formControlName="txtChangingAmount" id="txtChangingAmount" type="text" required="">
                    </div>
                  </div>
                  <div class="common-fields" hidden>
                    <div class="form-group">
                      <label for="txtChangingRate" class="col-form-label">Changing Rate</label>
                      <input class="form-control" formControlName="txtChangingRate" (keyup)="changingRateCal()"
                             id="txtChangingRate" type="text" required="">
                    </div>
                  </div>
                  <div class="common-fields" hidden>
                    <div class="form-group">
                      <label for="txtIsPriceChange" class="col-form-label">Changing Rate</label>
                      <input class="form-control" formControlName="txtIsPriceChange" id="txtIsPriceChange" type="text"
                             required="">
                    </div>
                  </div>
                </div>
                <div class="middle-parent">
                  <div class="col-sm-12 ">
                    <div class="col-sm-12" id="TbaleT2">
                      <div class="form-group table-container">
                        <table class="table table-striped ">
                          <thead>
                          <tr>
                            <th *ngIf="isClothes" scope="col">Color</th>
                            <th *ngIf="isClothes" scope="col">size</th>
                            <!--<th scope="col">Rate</th>-->
                            <th scope="col">Quantity</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let clothesArray of productVariationArrayForClothes  let i = index"
                              [attr.data-index]="i">
                            <!--<td><input type="checkbox" id="{{'green'}}"></td>
                            {{clothesArray['type_']}}
                            <td>{{clothesArray['gender_']}}</td>-->
                            <td *ngIf="isClothes"
                                style="border-color: azure; border-width: thick;  position:relative; ">
                              <div
                                style=" position: absolute; left: 10px;right: 10px;top: 10px;bottom: 10px;background-color:{{clothesArray['color']}};"></div>
                            </td>
                            <td *ngIf="isClothes">{{clothesArray['size']}}</td>
                            <td>
                              <input class="form-control" id="txtQtyForClothes{{i}}" type="number" required=""
                                     value="{{qtys}}" (change)="ChangeValue(i)">
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">

                <button style="float: left;" type="button" (click)="popup()"

                        class="btn btn-sm btn-info" *ngIf="showPriceChange">Change Listing Price

                </button>
                <button style="float: right; margin-bottom: 3%;" type="button" [disabled]="isBtnAddDisabled" (click)="addToTable()"
                        class="btn btn-lg btn-success">Add Table
                </button>
              </div>
              <ng-template #changePricePopup let-modal>
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Change Listing Price</h4>
                    <button type="button" class="close" (click)="closePopup()">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="row">
                        <div class="col-md-6">
                          <label for="oldPrice">Old Price</label>
                          <input class="form-control" id="oldPrice" disabled type="text"
                                 value="{{changeSellingPrice}}"/>
                        </div>
                        <div class="col-md-6">
                          <label for="newSellingPrice">New Price</label>
                          <input class="form-control" id="newSellingPrice" type="text"/>
                        </div>
                      </div>
                      <br>
                      <button type="submit" class="btn btn-primary" style="float: right" (click)="submit(1)">
                        Submit
                      </button>
                    </form>
                  </div>
                </div>
              </ng-template>
              <table class="table table-striped table-hover table-sm">
                <thead>
                <tr>
                  <th scope="col">Code</th>
                  <th scope="col">Name</th>
                  <th scope="col" *ngIf="isClothes">color</th>
                  <th scope="col" *ngIf="isClothes">size</th>
                  <th scope="col">Listning Price (per unit)</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Seller Income</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <!--<tr *ngFor="let tableDatas of tableData ">-->
                <tr *ngFor="let tableDatas of tableData; let i = index" [attr.data-index]="i">
                  <td>{{tableDatas['product_code']}}</td>
                  <td>{{tableDatas['product_name']}}</td>
                  <td *ngIf="isClothes">
                    <div style="margin:5px; padding: 10px; background:{{tableDatas['color']}};"></div>
                  </td>
                  <td *ngIf="isClothes">{{tableDatas['size']}}</td>
                  <td>{{tableDatas['selling_price']}}</td>
                  <td>{{tableDatas['quantity']}}</td>
                  <td>{{tableDatas['seller_income']}}</td>
                  <td>{{tableDatas['amount']}}</td>
                  <td>
                    <button style="font-size: 8px;" type="button" class="btn btn-danger" (click)="deleteTableRow(i)">
                      delete
                    </button>
                    <button style="display: none; font-size: 8px;margin-left: 4%;" type="button" (click)="editTableRow(i)"
                            class="btn btn-success">Edit
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
              <div class="row" style="margin-top: 4%;">
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="txtAllQuantity" class="col-form-label">All Quantity</label>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group">
                    <input class="form-control" formControlName="txtAllQuantity" disabled id="txtAllQuantity"
                           type="text" required="">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="txtTotalSellerIncome" class="col-form-label">Total Seller Income From The
                      Shpiment</label>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group">
                    <input class="form-control" formControlName="txtTotalSellerIncome" disabled
                           id="txtTotalSellerIncome" type="text" required="">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="txtGrossAmount" class="col-form-label">Gross Amount</label>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group">
                    <input class="form-control" formControlName="txtGrossAmount" disabled id="txtGrossAmount"
                           type="text" required="">
                  </div>
                </div>
              </div>
              <div class="row" style="float: right">
                <div class="col-sm-4">
                  <!--<div class="form-group">
                    <button style="float: right;" type="button" (click)="holdShipment()" class="btn btn-lg btn-info">
                      Hold Shipment
                    </button>
                  </div>-->
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <button style="float: right;" [disabled]="isBtnSaveDisabled" type="submit" class="btn btn-lg btn-primary">Shipment Submit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
