<title>Kapruka Partner Central Signup</title>


<body>
<div style="padding: 0 15px;">
  <div class="main-div">
    <div class="both">
      <div class="form-block">
        <form class="needs-validation user-add">
          <img src="assets/images/loginPage/Logo.png" style="width: 180px; padding: 20px" alt="logo">
          <!--          <h1 class="main-txt" style="font-family: sans-serif; font-size: 24px; padding: 15px 0;">Sign up</h1>-->
          <!-- <span>or use your account</span> -->
          <input id="contactPersonName" type="text" placeholder="First Name"/>
            <input id="contactPersonLastName" type="text" placeholder="Last Name"/>
          <div class="clearfix"></div>
          <div class="clearfix" style="margin: 0 auto;width: 80%; margin-bottom: 20px;">
            <input id="countryCode" type="text" placeholder="+94" value="+94" disabled/>
            <input id="contactNumber"  (keydown)="removezero($event)" type="text" placeholder="Contact Number(eg:773246567)"/>
          </div>

          <div class="clearfix"></div>
          <input id="email" type="email" placeholder="sE-mail"/>

          <!--<label style="color: red; display: none; font-size: 12px; font-weight: normal" id="distext">Invalid Email !</label>-->
          <input id="password" type="password" placeholder="Password"/>
          <input id="reEnterPassword" type="password" placeholder="Confirm Password"/>
          <!-- <a href="#">Forgot your password?</a> -->
          <button type="button" (click)="saveGuest()" [disabled]="OnetimeClicked">Sign Up</button>
          <button class="btn-class" [routerLink]="'/auth/login'" type="button"  style="background-color:red; width: 30%;">Cancel</button>

        </form>
      </div>
    </div>
    <div class="both" style="background-color: #fff;">
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-right" style="text-align: center;">
            <h1 class="hello" style="color:#fff">Hello, Partner !</h1>
            <p style="color:#fff; margin-top: 0 !important; font-family: sans-serif;">Let's start your selling journey
              with us!</p>
            <img src="/assets/images/signup/frame.png" style="width: 230px; margin-top: 30px;" alt="">

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!--</div>-->
</body>
