<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card tab2-card">
        <div class="card-body tab2-card">
          <ngb-tabset class="tab-coupon" (tabChange)="changeTab($event)">
            <ngb-tab title="Category" [id]="0">

              <ng-template ngbTabContent >
                <div >
                <div class="tab-pane fade active show col-md-8" id="account" role="tabpanel"
                     aria-labelledby="account-tab">
                  <form [formGroup]="accountForm" (ngSubmit)="callingFunction()" class="needs-validation user-add"
                        novalidate>
                    <h4>Category Details</h4>
                    <div class="form-group row">
                      <label for="txt_cat_name" class="col-xl-3 col-md-4">Name</label>
                      <input formControlName="code" hidden class="form-control col-xl-8 col-md-7" id="txt_cat_code"
                             type="text" required="">
                      <input  formControlName="categoryName" class="form-control col-xl-8 col-md-7 catInput inputTxt" id="txt_cat_name"
                             type="text" required>
                      <div class="col" style="margin-left: 25%;">
                        <span id="nameError" class="errorMsg" style="display: none; color:red; position: relative; font-size: 14px;">Please enter a name</span>

                      </div>

                    </div>
                    <div class="form-group row">
                      <label for="txt_cat_description" class="col-xl-3 col-md-4"> Description</label>
                      <input formControlName="description" class="form-control col-xl-8 col-md-7 catInput inputTxt"
                             id="txt_cat_description"
                             type="text" required="">
                      <div class="col" style="margin-left: 25%;">
                        <span id="descError" class="errorMsg" style="display:none; color: red; position: relative;font-size: 14px">Description must consist of fewer than 200 characters</span>

                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="txt_price_rate" class="col-xl-3 col-md-4"> Price Rate</label>
                      <input formControlName="price_rate" class="form-control col-xl-4 col-md-7 catInput inputTxt"
                             id="txt_price_rate"
                             type="text" required="">

                      <label for="txt_price_rate" class="col-xl-3 col-md-4" style="font-weight: bold; position: relative;margin-left: -10%;"> %</label>
                      <div class="col-8" style="margin-left: 25%">
                        <span id="priceError" class="errorMsg" style="display:none; color: red; position: relative;font-size: 14px">Please enter a rate</span>

                      </div>
                    </div>

                    <div class="form-group row" style="float: right; margin-right: 6%">
                      <div class="pull-right" style="margin-right: 13px;">
                        <button type="submit" style="display: none" id="update" class="btn btn-success">Update</button>
                      </div>
                      <div class="pull-left">
                        <button type="submit" id="save" class="btn btn-primary" (click)="btnValue=0">Save</button>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="clearfix"></div>
                <!--=======================================First template For Editing Category =======================================================-->
                <div class="custom-datatable">
                  <div class="clearfix"></div>
                  <ngx-datatable class="bootstrap expandable" [rows]="proMainCat" [columnMode]="'force'"
                                 [headerHeight]="50"
                                 [footerHeight]="50" [rowHeight]="'auto'" [limit]="list_pages2" [selected]="selected"
                                 [selectionType]="false" [selectAllRowsOnPage]="false"
                  >
                    <ngx-datatable-column name="Name" [width]="30"></ngx-datatable-column>
                    <ngx-datatable-column name="Description" [width]="30"></ngx-datatable-column>
                    <ngx-datatable-column name="Price Rate" [width]="30"></ngx-datatable-column>
                    <ngx-datatable-column name="Action" prop="name" [width]="30">
                      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                                   let-row="row">
                        <button type="button" (click)='EditCategory(rowIndex)'
                                style="width: 96px;height: 28px;font-size: 10px;" class="btn btn-outline-success">
                          Edit
                        </button>
                      </ng-template>
                    </ngx-datatable-column>
                  </ngx-datatable>
                </div>
                </div>
              </ng-template>
            </ngb-tab>

            <!--=========================================Sub Category Creating template=====================================================-->
            <ngb-tab title="Sub Category" [id]="1">
              <ng-template ngbTabContent>
                <div class="tab-pane fade active show col-md-12" id="account1" role="tabpanel"
                     aria-labelledby="account-tab">
                  <form [formGroup]="categoryForm" (ngSubmit)="saveSubcategory()" class="needs-validation user-add"
                        novalida>
                    <h4>Sub Category Details</h4>
                    <div class="row">
                      <div class="col-md-6 hiddenFields" >
                        <div class="form-group row">
                          <label class="col-xl-4 col-md-4" >Category</label>
                          <select class="custom-select col-xl-8 col-md-7 catInput" id="select01" formControlName="catCode" (input)="onCategoryChange($event,'sub')">
                            <option value="">-- Select Category --</option>
                            <option *ngFor="let productCategor of productCategoryArray"
                                    ngValue="{{productCategor['code']}}">
                              {{productCategor['name']}}
                            </option>
                          </select>
                          <div class="col" style="margin-left: 30%">
                            <span id="categoryError1" class="errorMsg" style="display:none; color: red; position: relative;font-size: 14px">Please select a category</span>
                          </div>
                        </div>
                      </div>
                      <!-- =======editable Input for update button=========== -->
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label for="validationCustom123" style="display: none" id="oldCatDev"
                                 class="col-xl-4 col-md-4">Category</label>
                          <input class="form-control col-xl-8 col-md-7" style="display: none" disabled
                                 formControlName="mainCatName"
                                 id="oldCatName"
                                 type="text" required="">
                        </div>
                      </div>
                    </div>
                    <!--=================== editable Input for Update End===========-->
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label for="validationCustom123" class="col-xl-4 col-md-4">Name</label>
                          <input class="form-control col-xl-8 col-md-7 catInput inputTxt" formControlName="subCategoryName"
                                 id="validationCustom123"
                                 type="text" required="">
                          <div class="col" style="margin-left: 30%">
                            <span id="subNameError" class="errorMsg" style="display:none; color: red; position: relative;font-size: 14px">Please provide a sub category name</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6"></div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label for="validationCustom2443" class="col-xl-4 col-md-4">Description</label>
                          <input class="form-control col-xl-8 col-md-7 catInput inputTxt" formControlName="subDescription"
                                 id="validationCustom2443"
                                 type="text" required="">
                          <div class="col" style="margin-left: 30%">
                            <span id="subDescError" class="errorMsg" style="display:none; color: red; position: relative;font-size: 14px">Description must consists of characters less than 200</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6"></div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label for="txt_sub_price_rate" class="col-xl-4 col-md-4">Price Rate</label>
                          <input class="form-control col-xl-7 col-md-7 catInput inputTxt" formControlName="subPricerate"
                                 id="txt_sub_price_rate"
                                 type="text" required="" [value]="marginRate">
                          <label for="txt_sub_price_rate" class="col-xl-1 col-md-1"
                                 style="font-weight: bold; position: relative;margin-left: -5%;"> %</label>
                          <div class="col" style="margin-left: 30%">
                            <span id="subPriceError" class="errorMsg" style="display:none; color: red; position: relative;font-size: 14px">Please provide a price rate</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6"></div>
                      <div class="col-md-6">
                        <div class="form-group row" style="float: right;margin-right: 6%">
                          <div class="pull-left">
                            <button type="submit" id="subSave" class="btn btn-primary" >save</button>
                          </div>
                        </div>
                        <input hidden formControlName="subCatCode"
                               id="subCatCode"
                               type="text" required="">
                        <input hidden formControlName="mainCatCode"
                               id="mainCatCode"
                               type="text" required="">
                        <div class="form-group row" style="float: right;margin-right: 6%">
                          <div class="pull-left">
                            <button type="submit" style="display: none" id="subEdit" class="btn btn-success">Update
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <!--++++++++++++++++Data Table for sub Category+++++++++-->
                <div class="custom-datatable">
                  <div class="clearfix"></div>
                  <ngx-datatable class="bootstrap expandable" [rows]="subcategoryArray" [columnMode]="'force'"
                                 [headerHeight]="50"
                                 [footerHeight]="50" [rowHeight]="'auto'" [limit]="list_pages2" [selected]="selected"
                                 [selectionType]="false" [selectAllRowsOnPage]="false">

                    <!--<ngx-datatable-column name="Code" [width]="10"></ngx-datatable-column>-->
                    <ngx-datatable-column name="Name" [width]="10"></ngx-datatable-column>
                    <ngx-datatable-column name="Description" [width]="10"></ngx-datatable-column>
                    <ngx-datatable-column name="Category" [width]="10"></ngx-datatable-column>
                    <!--<ngx-datatable-column name="catCode" [width]="10"></ngx-datatable-column>-->
                    <ngx-datatable-column name="Price Rate" [width]="30"></ngx-datatable-column>
                    <ngx-datatable-column name="Action" prop="name" [width]="10">
                      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                                   let-row="row">
                        <button type="button" (click)='editSubCategory(rowIndex)'
                                style="width: 96px;height: 28px;font-size: 10px;"
                                class="btn btn-outline-success"
                        >Edit
                        </button>
                      </ng-template>
                    </ngx-datatable-column>
                  </ngx-datatable>
                </div>
              </ng-template>
            </ngb-tab>


            <!--++++++++++++++++++++++form Sub-Sub Category Details++++++++++++++++++++-->
            <ngb-tab title="Sub-Sub Category" [id]="2">
              <ng-template ngbTabContent>
                <div class="tab-pane fade active show col-md-12" id="account1" role="tabpanel"
                     aria-labelledby="account-tab">
                  <form [formGroup]="subSubCategory" class="needs-validation user-add" (ngSubmit)="saveSubSubcategory()"
                        novalida>
                    <h4>Sub-Sub Category Details</h4>
                    <div class="row">
                      <div class="col-md-6 hiddenFields">
                        <div class="form-group row">
                          <label class="col-xl-4 col-md-4">Category</label>
                          <select class="custom-select col-xl-8 col-md-7 catInput" id="category_ids"
                                  formControlName="mainCategoryMain" (change)="getSubcategory()" (input)="onCategoryChange($event,'sub-sub')">
                            <option value="">-- Select Category --</option>
                            <option *ngFor="let productCategor of productCategoryArray"
                                    value="{{productCategor['code']}}">
                              {{productCategor['name']}}
                            </option>
                          </select>
                          <div class="col" style="margin-left: 30%">
                            <span id="categoryError2" class="errorMsg" style="display:none; color: red; position: relative;font-size: 14px">Please select a Category</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label style="display: none" id="lblMainCat" class="col-xl-4 col-md-4">Category</label>
                          <input disabled
                                 style="display: none"
                                 class="form-control col-xl-8 col-md-7"
                                 formControlName="mainCategorytxt"
                                 id="txt_mainCat"
                                 type="text" required="">
                          <input hidden
                                 class="form-control col-xl-8 col-md-7"
                                 formControlName="mainCategoryCode"
                                 id="txt_mainCatCode"
                                 type="text"
                                 required="">
                        </div>
                      </div>
                      <div class="col-md-6 hiddenFields">
                        <div class="form-group row">
                          <label class="col-xl-4 col-md-4">Sub Category</label>
                          <select class="custom-select col-xl-8 col-md-7 catInput" formControlName="subCategorynameCt" id="subCategorySelect" (input)="onCategoryChange($event,'sub-sub')">
                            <option value="">-- Select Sub Category --</option>
                            <option *ngFor="let productSubCategory of productSubCategoryArray"
                                    value="{{productSubCategory['code']}}">{{productSubCategory['name']}}
                            </option>
                          </select>

                          <div class="col" style="margin-left: 30%">
                            <span id="subCategoryError2" class="errorMsg" style="display:none; color: red; position: relative;font-size: 14px">Please select a Sub Category</span>
                          </div>
                        </div>
                      </div>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label for="validationCustom1"
                                   style="display: none"
                                   disabled=""
                                   id="lblOldSubCat"
                                   class="col-xl-4 col-md-4">Sub Category</label>
                            <input formControlName="subCategoryName"
                                   disabled
                                   style="display: none"
                                   class="form-control col-xl-8 col-md-7"
                                   id="subCategoryName"
                                   type="text" required="">
                            <input formControlName="subCategoryCode"
                                   hidden
                                   class="form-control col-xl-8 col-md-7"
                                   id="subCategoryCode"
                                   type="text" required="">
                            <input formControlName="subSubCategoryCode"
                                   hidden
                                   class="form-control col-xl-8 col-md-7"
                                   id="subSubCategoryCode"
                                   type="text"
                                   required="">
                          </div>
                        </div>

                      <div class="col-md-6">
                        <div class="form-group row">
                          <label for="validationCustom1" class="col-xl-4 col-md-4">Name</label>
                          <input formControlName="subSubCategoryName" class="form-control col-xl-8 col-md-7 catInput inputTxt"
                                 id="validationCustom1"
                                 type="text" required="">
                          <div class="col" style="margin-left: 30%">
                            <span id="subSubNameError" class="errorMsg" style="display:none; color: red; position: relative;font-size: 14px">Please provide a Sub Sub Category Name</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6"></div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label for="validationCustom2" class="col-xl-4 col-md-4 catInput inputTxt">Description</label>
                          <input formControlName="subSubCategoryDescription"
                                 class="form-control col-xl-8 col-md-7 catInput"
                                 id="validationCustom2"
                                 type="text"
                                 required="">
                          <div class="col" style="margin-left: 30%">
                            <span id="subSubDescError" class="errorMsg" style="display:none; color: red; position: relative;font-size: 14px">Description must consist of fewer than 200 characters</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6"></div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label for="txt_subs_price_rate" class="col-xl-4 col-md-4">Price Rate</label>
                          <input class="form-control col-xl-7 col-md-7 catInput inputTxt" formControlName="subsubPricerate"
                                 id="txt_subs_price_rate"
                                 type="text" required="" value="{{marginRate}}">
                          <label for="txt_subs_price_rate" class="col-xl-1 col-md-1"
                                 style="font-weight: bold; position: relative;margin-left: -5%;"> %</label>
                          <div class="col" style="margin-left: 30%">
                            <span id="subSubPriceError" class="errorMsg" style="display:none; color: red; position: relative;font-size: 14px">Please provide a Price Rate</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6"></div>
                      <div class="col-md-6">
                        <div class="form-group row" id="subSubSave" style="float: right;margin-right: 6%">
                          <div class="pull-left">
                            <button type="submit" class="btn btn-primary" (click)="btnValue=0">Save</button>
                          </div>
                        </div>
                        <div class="form-group row" id="subSubEdit"
                             style="display: none; float: right;margin-right: 6%">
                          <div class="pull-left">
                            <button type="submit" class="btn btn-success">Update</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="custom-datatable">
                  <div class="clearfix"></div>
                  <ngx-datatable class="bootstrap expandable" [rows]="subsubCatAarray" [columnMode]="'force'"
                                 [headerHeight]="50"
                                 [footerHeight]="50" [rowHeight]="'auto'" [limit]="list_pages2" [selected]="selected"
                                 [selectionType]="false" [selectAllRowsOnPage]="false">

                    <!--<ngx-datatable-column name="Code" [width]="10"></ngx-datatable-column>-->
                    <ngx-datatable-column name="Name"></ngx-datatable-column>
                    <!--<ngx-datatable-column name="subCatName" [width]="10"></ngx-datatable-column>-->
                    <ngx-datatable-column name="Description"></ngx-datatable-column>
                    <ngx-datatable-column name="Sub Category"></ngx-datatable-column>
                    <ngx-datatable-column name="Price Rate" [width]="30"></ngx-datatable-column>
                    <ngx-datatable-column name="Action" prop="name">
                      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                                   let-row="row">
                        <button type="button" (click)='editSubSubCategory(rowIndex)'
                                style="width: 96px;height: 28px;font-size: 10px;"
                                class="btn btn-outline-success"
                        >Edit
                        </button>
                      </ng-template>
                    </ngx-datatable-column>
                  </ngx-datatable>
                </div>
              </ng-template>
            </ngb-tab>


            <ngb-tab title="Sub-Sub-Sub Category" [id]="3">
              <ng-template ngbTabContent>
                <div class="tab-pane fade active show col-md-12" id="account1" role="tabpanel"
                     aria-labelledby="account-tab">
                  <form [formGroup]="subSubSubCategory" class="needs-validation user-add"
                        (ngSubmit)="saveSubSubSubcategory()">
                    <h4>Sub-Sub-Sub Category Details</h4>
                    <div class="row">
                      <div class="col-md-6 hiddenFields">
                        <div class="form-group row">
                          <label class="col-xl-4 col-md-4">Category</label>
                          <select class="custom-select col-xl-8 col-md-7 catInput" id="category_id_sub_sub"
                                  formControlName="catCode3" (change)="getSubcategoryForSubSubSub()" (input)="onCategoryChange($event,'sub-sub-sub')">
                            <option value="">-- Select Category --</option>
                            <option *ngFor="let productCategor of productCategoryArray"
                                    value="{{productCategor['code']}}">
                              {{productCategor['name']}}
                            </option>
                          </select>
                          <div class="col" style="margin-left: 30%">
                            <span id="categoryError3" class="errorMsg" style="display:none; color: red; position: relative; font-size: 14px">Please select a category</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6" id="oldCategoryContent">
                        <div class="form-group row">
                          <label style="display: none" id="lblMainCatInSub3" class="col-xl-4 col-md-4">
                            Category</label>
                          <input disabled style="display: none" class="form-control col-xl-8 col-md-7"
                                 formControlName="mainCategoryForSubSubSub"
                                 id="txt_mainCatInSub3"
                                 type="text" required="">
                          <input hidden class="form-control col-xl-8 col-md-7"
                                 formControlName="mainCategoryCodeForSubSubSub"
                                 id="txt_mainCatCodeInSub3"
                                 type="text" required="">
                        </div>
                      </div>
                      <div class="col-md-6 hiddenFields">
                        <div class="form-group row">
                          <label class="col-xl-4 col-md-4">Sub Category</label>
                          <select class="custom-select col-xl-8 col-md-7 catInput" id="subCategoryIdInSubSubSub"
                                  formControlName="SubCatCode3" (change)="getSubSubcategory()" (input)="onCategoryChange($event,'sub-sub-sub')">
                            <option value="">-- Select Sub Category --</option>
                            <option *ngFor="let productSubCategory of productSubCategoryArray"
                                    value="{{productSubCategory['code']}}">{{productSubCategory['name']}}
                            </option>
                          </select>
                          <div class="col" style="margin-left: 30%">
                            <span id="subCategoryError3" class="errorMsg" style="display:none; color: red; position: relative;font-size: 14px">Please select a Sub Category</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6" id="oldSubCategoryContent">
                        <div class="form-group row">
                          <label style="display: none" id="lblOldSubCatInSub3" class="col-xl-4 col-md-4">Sub
                            Category</label>
                          <input disabled style="display: none" class="form-control col-xl-8 col-md-7"
                                 formControlName="oldSubCategoryNameForSubSubSub"
                                 id="oldSubCategoryNameInSub3"
                                 type="text" required="">
                          <input hidden class="form-control col-xl-8 col-md-7"
                                 formControlName="oldSubCategorycodeForSubSubSub"
                                 id="oldSubCategorycodeForSubSubSub"
                                 type="text" required="">
                        </div>
                      </div>
                      <div class="col-md-6 hiddenFields">
                        <div class="form-group row">
                          <label class="col-xl-4 col-md-4">Sub Sub Category</label>
                          <select class="custom-select col-xl-8 col-md-7 catInput" formControlName="subSubCatCode3" id="subSubCatSelect" (input)="onCategoryChange($event,'sub-sub-sub')">
                            <option value="">-- Select Sub Sub Category --</option>
                            <option *ngFor="let productSubSubCategory of productSubSubCategoryArray"
                                    value="{{productSubSubCategory['code']}}">{{productSubSubCategory['name']}}
                            </option>
                          </select>
                          <div class="col" style="margin-left: 30%">
                            <span id="subSubCategoryError2" class="errorMsg" style="display:none; color: red; position: relative;font-size: 14px">Please select a Sub Sub Category</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6" id="oldSubSubSubCatContent" >
                        <div class="form-group row">
                          <label style="display: none" id="lblSubCatForSubSubSub" class="col-xl-4 col-md-4">Sub Sub
                            Category</label>
                          <input disabled style="display: none" class="form-control col-xl-8 col-md-7"
                                 formControlName="oldSubSubCategoryNameForSubSubSub"
                                 id="oldSubSubCategoryNameForSubSubSub"
                                 type="text" required="">
                          <input hidden class="form-control col-xl-8 col-md-7"
                                 formControlName="oldSubSubCategorycodeForSubSubSub"
                                 id="oldSubSubCategorycodeForSubSubSub"
                                 type="text" required="">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label for="validationCustom1" class="col-xl-4 col-md-4">Name</label>
                          <input formControlName="subSubSubCategoryName" class="form-control col-xl-8 col-md-7 catInput inputTxt"
                                 id="validationCustom3"
                                 type="text" required="">
                          <div class="col" style="margin-left: 30%">
                            <span id="subSubSubNameError" class="errorMsg" style="display:none; color: red; position: relative;font-size: 14px">Please provide a Sub Sub Sub Category name</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6"></div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label for="validationCustom2" class="col-xl-4 col-md-4">Description</label>
                          <input formControlName="subSubSubCategoryDescription" class="form-control col-xl-8 col-md-7 catInput inputTxt"
                                 id="descValidationCustom3"
                                 type="text" required="">
                          <div class="col" style="margin-left: 30%">
                            <span id="subSubSubDescError" class="errorMsg" style="display:none; color: red; position: relative;font-size: 14px">Description must consist of fewer than 200 characters</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6"></div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label for="txt_subsub_price_rate" class="col-xl-4 col-md-4">Price Rate</label>
                          <input class="form-control col-xl-7 col-md-8 catInput inputTxt" formControlName="subsubsubPricerate"
                                 id="txt_subsub_price_rate"
                                 type="text" required="" [value]="marginRate">
                          <label for="txt_subsub_price_rate" class="col-xl-1 col-md-0"
                                 style="font-weight: bold; position: relative;margin-left: -5%;"> %</label>
                          <div class="col" style="margin-left: 30%">
                            <span id="subSubSubPriceError" class="errorMsg" style="display:none; color: red; position: relative;font-size: 14px">Please provide a Price Rate</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6"></div>
                      <div class="col-md-6">
                        <div class="form-group row" id="subSubSubSave" style="float: right;margin-right: 6%">
                          <div class="pull-right">
                            <button type="submit" class="btn btn-primary" (click)="btnValue=0">Save</button>
                          </div>
                        </div>
                        <div class="form-group row" id="subSubSubEdit"
                             style="display: none; float: right;margin-right: 6%">
                          <div class="pull-right">
                            <button type="submit" class="btn btn-success">Update</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>

                <div class="custom-datatable">
                  <div class="clearfix"></div>
                  <ngx-datatable class="bootstrap expandable" [rows]="subSubSubCategoryArray" [columnMode]="'force'"
                                 [headerHeight]="50"
                                 [footerHeight]="50" [rowHeight]="'auto'" [limit]="list_pages2" [selected]="selected"
                                 [selectionType]="false" [selectAllRowsOnPage]="false">

                    <!--<ngx-datatable-column name="Code" [width]="10"></ngx-datatable-column>-->
                    <ngx-datatable-column name="Name"></ngx-datatable-column>
                    <!--<ngx-datatable-column name="subCatName" [width]="10"></ngx-datatable-column>-->
                    <ngx-datatable-column name="Description"></ngx-datatable-column>
                    <ngx-datatable-column name="category"></ngx-datatable-column>
                    <ngx-datatable-column name="Price Rate" [width]="30"></ngx-datatable-column>
                    <ngx-datatable-column name="Action" prop="name">
                      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                                   let-row="row">
                        <button type="button" (click)='editSubSubSubCategory(rowIndex)'
                                style="width: 96px;height: 28px;font-size: 10px;"
                                class="btn btn-outline-success"
                        >Edit
                        </button>
                      </ng-template>
                    </ngx-datatable-column>
                  </ngx-datatable>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
          <!--<div class="pull-right">-->
          <!--<button type="button" (click)="saveCategory()" class="btn btn-primary">Save</button>-->
          <!--</div>-->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->
