<style>
  body, ul {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }

  footer {
    background-color: #fafafa;
    color: #000;
    text-align: center;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .footer-contact,
  .social-icons {
    /*            margin-top: 15px;*/
    display: flex;
    align-items: center;
  }

  .footer-contact p,
  .social-icons i {
    color: #000;
    margin: 5px 10px;
    display: inline;
  }

  .footer-contact a,
  .social-icons a {
    color: #000;
    text-decoration: none;
  }

  .footer-info p {

    font-size: 12px;
  }

  .footer-logo img {
    max-width: 100px;
  }

  .footer-contact p:not(:last-child):after {
    content: "|";
    margin: 0 5px;
  }

  .footer-contact i {
    margin-right: 10px;
  }


  @media (max-width: 906px) {
    .footer-contact {
      flex-direction: column;
      text-align: center;
    }

    .footer-contact p {
      margin: 5px 0;
    }

    .social-icons {
      display: flex;
      justify-content: center;
    }

    .footer-contact p:not(:last-child):after {
      display: none;
    }

    .footer-info p {
      font-size: 12px;
    }

    .footer-contact p i {
      font-size: 12px;
    }
  }
</style>

<div class="footer-content">
  <div class="footer-logo">
    <img src="assets/images/loginPage/Logo.png" alt="PC Logo">
  </div>
  <div class="footer-contact">
    <p><i class="fas fa-map-marker"></i> 147 Kottawa Road Nugegoda</p>
    <p><i class="fas fa-phone"></i><a href="tel:+94117551111">+94 11 755 1111</a></p>
    <p><i class="fab fa-whatsapp"></i><a href="https://web.whatsapp.com/send?phone=94716002091">+94 71 600 20 91</a></p>
    <p><i class="far fa-envelope"></i><a href="mailto:partnercentral@kapruka.com">partnercentral@kapruka.com</a></p>
  </div>
</div>
<div class="footer-info">
  <p style="text-align: center; color: #2c2b76">&copy; 2000-2023 © Kapruka.com® Online Shopping for Sri Lankans around
    the world. <br> All rights reserved.</p>
</div>
