<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 footer-copyright">
      <p class="mb-0">Copyright 2000-2023 © Kapruka.com® Online Shopping for Sri Lankans around the world.</p>

    </div>
    <div class="col-md-6">
      <a class="pull-right mb-0" [href]="'https://web.whatsapp.com/send?phone=94702398310'" target="_blank"
        class="fa fa-whatsapp" style="font-size: 12px; color: limegreen; letter-spacing: 1px;"><i> Whatsapp Support: 070 239 8310 </i></a>
    </div>
  </div>
</div>
