<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card tab2-card">
        <div class="card-body tab2-card">
          <ngb-tabset class="tab-coupon" (tabChange)="onTabSelect($event)">

            <ngb-tab [title]="getPendingApprovalList()" *ngIf="isAdmin" >
              <ng-template ngbTabContent>
                <div class="tab-pane fade active show" id="account1" role="tabpanel" aria-labelledby="account-tab">
                  <div class="custom-datatable">
                    <div class="row">
                      <div class="col-md-6">
                        <input autofocus type="text" class="form-control" placeholder="Enter your search term..."
                               (input)="PendingProductFilter($event.target.value)" style="width: 60%"/>
                      </div>
<!--                      <div class="col-md-6">-->
<!--                        <input autofocus type="text" class="form-control" placeholder="Search By Business Name..."-->
<!--                               (input)="PendingProductFilterByBusinessName($event.target.value)" style="width: 60%"/>-->
<!--                      </div>-->
                    </div>

                    <div class="clearfix"></div>
                    <div class="row">
                      <div class="col-md-9">
                        <div class="row table-responsive"
                             style="margin-top: 1%;max-height:70vh; overflow-y: auto; width: 135%;">
                          <app-table-template [HeadArray]="headNonActive" [DataArray]="paginatedPendingItems.length > 0 ? paginatedPendingItems : nonActiveProductsArray"
                                              [emptyTable]="emptyTablePendingProduct" (onPopUpImg)="popUpImage($event)"        (onReview)="ApproveProductNon($event)" [nonActiveAdmin]="nonActiveAdmin"> </app-table-template>
                        </div>
                      </div>
                    </div>
                    <div class="pull-right" style="margin-top: 15px">
                      <app-pagination
                              [currentPage]="currentPagePA"
                              [totalPages]="totalPagesPA"
                              (pageChange)="onPageChange($event,'PendingPro')"
                      ></app-pagination>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>

            <ngb-tab [title]="getPendingQC()" *ngIf="isPartner">
              <ng-template ngbTabContent>
                <div class="tab-pane fade active show" id="account4" role="tabpanel" aria-labelledby="account-tab">
                  <div class="custom-datatable">
                    <div class="col-md-9">
                      <input autofocus type="text" class="form-control" placeholder="Enter your search term..."
                             (input)="PendingQCFilter($event.target.value)"/>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                      <div class="col-md-9">
                        <div class="row table-responsive"
                             style="margin-top: 1%;max-height:70vh; overflow-y: auto; width: 135%;">
                          <app-table-template [HeadArray]="headNonActivePartner" [DataArray]="paginatedPendingQC.length > 0 ? paginatedPendingQC : approvalPartnerProductList"
                                              [emptyTable]="emptyTablePendingProduct"  (onPopUpImg)="popUpImage($event)"        [onDemand]="onDemand" [nonActivePartner]="nonActivePartner"> </app-table-template>
                        </div>
                      </div>
                    </div>
                    <div class="pull-right" style="margin-top: 15px">
                      <app-pagination
                              [currentPage]="currentPagePQC"
                              [totalPages]="totalPagesPQC"
                              (pageChange)="onPageChange($event,'PendingQC')"
                      ></app-pagination>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>

            <ngb-tab [title]="PendingStockAllocation()">
              <ng-template ngbTabContent>
                <div class="tab-pane fade active show" id="account" role="tabpanel" aria-labelledby="account-tab">
                  <div class="custom-datatable">

                    <div class="row">
                      <div class="col-md-6">
                        <input autofocus type="text" class="form-control" placeholder="Enter your search term..."
                               (input)="PendingStockAllocationFilter($event.target.value)" style="width: 60%"/>
                      </div>
<!--                      <div class="col-md-6" *ngIf="isAdmin">-->
<!--                        <input autofocus type="text" class="form-control" placeholder="Search By Business Name..."-->
<!--                               (input)="filterPendingStockAllocationByBusinessName($event.target.value)"-->
<!--                               style="width: 60%"/>-->
<!--                      </div>-->
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                      <div class="col-md-9">
                        <div class="row table-responsive"
                             style="margin-top: 1%;max-height:70vh; overflow-y: auto; width: 135%;">
                          <app-table-template [HeadArray]="isAdmin ? headPendingStockAdmin : headPendingStockPartner" [DataArray]="paginatedPendingStockAllow.length > 0 ? paginatedPendingStockAllow : pending_stock_allocation"
                                              [emptyTable]="emptyTableStock" (onPopUpImg)="popUpImage($event)" [pendingStockPartner]="pendingStockPartner" [pendingStockAdmin]="pendingStockAdmin" (onAddStock)="pendingStockAllocationAction($event)"> </app-table-template>
                        </div>
                      </div>
                    </div>
                    <div class="pull-right" style="margin-top: 15px">
                      <app-pagination
                              [currentPage]="currentPagePendingAllo"
                              [totalPages]="totalPagesPendingAllow"
                              (pageChange)="onPageChange($event,'PendingStockAllocation')"
                      ></app-pagination>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>

            <ng-template #imagePopup let-modal>
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Image Preview</h4>
                  <button type="button" class="close" (click)="closePopup()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <img [src]="imageUrl" alt="Image" class="img-fluid">
                </div>
              </div>
            </ng-template>


<!--            old-->

<!--            <ngb-tab [title]="getPendingApprovalList()" *ngIf="isAdmin">-->
<!--              <ng-template ngbTabContent>-->
<!--                <div class="tab-pane fade active show" id="account1" role="tabpanel" aria-labelledby="account-tab">-->
<!--                  <div class="custom-datatable">-->
<!--                    <div class="row">-->
<!--                      <div class="col-md-6">-->
<!--                        <input autofocus type="text" class="form-control" placeholder="Search By Product Name..."-->
<!--                               (input)="PendingProductFilter($event.target.value)" style="width: 60%"/>-->
<!--                      </div>-->
<!--                      <div class="col-md-6">-->
<!--                        <input autofocus type="text" class="form-control" placeholder="Search By Business Name..."-->
<!--                               (input)="PendingProductFilterByBusinessName($event.target.value)" style="width: 60%"/>-->
<!--                      </div>-->
<!--                    </div>-->

<!--                    <div class="clearfix"></div>-->
<!--                    <div class="row">-->
<!--                      <div class="col-md-9">-->
<!--                        <div class="row table-responsive"-->
<!--                             style="margin-top: 1%;max-height:70vh; overflow-y: auto; width: 135%;">-->
<!--                          <table class="table table-sm table-bordered">-->
<!--                            <thead class="table-primary">-->
<!--                            <tr>-->
<!--                              <th>Product Image</th>-->
<!--                              <th>Title</th>-->
<!--                              <th>Price</th>-->
<!--                              <th>Stock in hand</th>-->
<!--                              <th>Create Date</th>-->
<!--                              <th>Action</th>-->
<!--                            </tr>-->
<!--                            </thead>-->
<!--                            <tbody>-->

<!--                            <ng-template #imagePopup let-modal>-->
<!--                              <div class="modal-content">-->
<!--                                <div class="modal-header">-->
<!--                                  <h4 class="modal-title">Image Preview</h4>-->
<!--                                  <button type="button" class="close" (click)="closePopup()">-->
<!--                                    <span aria-hidden="true">&times;</span>-->
<!--                                  </button>-->
<!--                                </div>-->
<!--                                <div class="modal-body">-->
<!--                                  <img [src]="imageUrl" alt="Image" class="img-fluid">-->
<!--                                </div>-->
<!--                              </div>-->
<!--                            </ng-template>-->

<!--                            <ng-container *ngIf="filteredPendingProducts.length > 0; else paginatedData_PA">-->
<!--                              &lt;!&ndash; Display filtered products &ndash;&gt;-->
<!--                              <tr *ngFor="let nonActiveProduct of (paginatedPendingItems.length > 0 ? paginatedPendingItems : filteredPendingProducts); let j = index;">-->
<!--                                <td align="center"><img src="{{ imagePathURI + nonActiveProduct.image }}" height="60px"-->
<!--                                                        width="60px"-->
<!--                                                        (error)="onImageError($event)" (click)="popUpImage(j)"/></td>-->
<!--                                &lt;!&ndash;<td>{{ nonActiveProduct.title }}<br>{{ nonActiveProduct.productCode }}<br>{{ nonActiveProduct.vendor }} <br>{{ nonActiveProduct.categoryPath }}</td>&ndash;&gt;-->
<!--                                <td><p style="margin: 0px; font-size: 16px; color: #000">{{-->
<!--                                  nonActiveProduct.title}}</p>-->
<!--                                  <p style="margin: 0px;font-size: 16px; color: #000">{{-->
<!--                                    nonActiveProduct.productCode }}</p>-->
<!--                                  <p style="margin: 0px; font-size: 14px; color: #6f6f6f;">&nbsp; &nbsp;{{nonActiveProduct.vendor}}</p>-->
<!--                                  <p style="margin: 0px; font-size: 14px; color: #6f6f6f;"> &nbsp; &nbsp;{{nonActiveProduct.categoryPath}}</p>-->
<!--                                </td>-->
<!--                                <td>-->
<!--                                  <input type="text" disabled style="width:100px; height: 30px; border: none;"-->
<!--                                         [value]="nonActiveProduct.price" autofocus/>-->
<!--                                </td>-->
<!--                                <td>-->
<!--                                  <input type="text" disabled style="width:100px; height: 30px; border: none;"-->
<!--                                         [value]="nonActiveProduct.in_stock"/>-->
<!--                                </td>-->
<!--                                <td>{{ nonActiveProduct.createDate }}</td>-->
<!--                                <td>-->
<!--                                  <button type="button" (click)='ApproveProductNon(j)'-->
<!--                                          style="width: 96px;height: 28px;font-size: 10px;"-->
<!--                                          class="btn btn-outline-success">Review-->
<!--                                  </button>-->
<!--                                </td>-->
<!--                              </tr>-->
<!--                            </ng-container>-->

<!--                            &lt;!&ndash;-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;default View&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--                            <ng-template #paginatedData_PA>-->
<!--                              &lt;!&ndash; Display paginated items if filteredProducts is empty &ndash;&gt;-->
<!--                              <tr-->
<!--                                      *ngFor="let nonActiveProduct of (paginatedPendingItems.length > 0 ? paginatedPendingItems : nonActiveProductsArray); let j = index;">-->
<!--                                <td align="center"><img src="{{ imagePathURI + nonActiveProduct.image }}" height="60px"-->
<!--                                                        width="60px"-->
<!--                                                        (error)="onImageError($event)" (click)="popUpImage(j)"/></td>-->
<!--                                &lt;!&ndash;<td>{{ nonActiveProduct.title }}<br>{{ nonActiveProduct.productCode }}<br>{{ nonActiveProduct.vendor }}<br>{{ nonActiveProduct.categoryPath }}</td>&ndash;&gt;-->
<!--                                <td><p style="margin: 0px; font-size: 16px; color: #000">{{-->
<!--                                  nonActiveProduct.title}}</p>-->
<!--                                  <p style="margin: 0px;font-size: 16px; color: #000">{{-->
<!--                                    nonActiveProduct.productCode }}</p>-->
<!--                                  <p style="margin: 0px; font-size: 14px; color: #6f6f6f;">&nbsp; &nbsp;{{nonActiveProduct.vendor}}</p>-->
<!--                                  <p style="margin: 0px; font-size: 14px; color: #6f6f6f;"> &nbsp; &nbsp;{{nonActiveProduct.categoryPath}}</p>-->
<!--                                </td>-->
<!--                                <td>-->
<!--                                  <input type="text" disabled style="width:100px; height: 30px; border: none;"-->
<!--                                         [value]="nonActiveProduct.price" autofocus/>-->
<!--                                </td>-->
<!--                                <td>-->
<!--                                  <input type="text" disabled style="width:100px; height: 30px; border: none;"-->
<!--                                         [value]="nonActiveProduct.in_stock"/>-->
<!--                                </td>-->
<!--                                <td>{{ nonActiveProduct.createDate }}</td>-->
<!--                                <td>-->
<!--                                  <button type="button" (click)='ApproveProductNon(j)'-->
<!--                                          style="width: 96px;height: 28px;font-size: 10px;"-->
<!--                                          class="btn btn-outline-success">Review-->
<!--                                  </button>-->
<!--                                </td>-->
<!--                              </tr>-->
<!--                            </ng-template>-->
<!--                            </tbody>-->
<!--                          </table>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="pull-right" style="margin-top: 15px">-->
<!--                      <app-pagination-->
<!--                              [currentPage]="currentPagePA"-->
<!--                              [totalPages]="totalPagesPA"-->
<!--                              (pageChange)="onPageChange($event,'PendingPro')"-->
<!--                      ></app-pagination>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </ng-template>-->
<!--            </ngb-tab>-->

<!--            <ngb-tab [title]="getPendingQC()" *ngIf="isPartner">-->
<!--              <ng-template ngbTabContent>-->
<!--                <div class="tab-pane fade active show" id="account4" role="tabpanel" aria-labelledby="account-tab">-->
<!--                  <div class="custom-datatable">-->
<!--                    <div class="col-md-9">-->
<!--                      <input autofocus type="text" class="form-control" placeholder="Search By Product Name..."-->
<!--                             (input)="PendingQCFilter($event.target.value)"/>-->
<!--                    </div>-->
<!--                    <div class="clearfix"></div>-->
<!--                    <div class="row">-->
<!--                      <div class="col-md-9">-->
<!--                        <div class="row table-responsive"-->
<!--                             style="margin-top: 1%;max-height:70vh; overflow-y: auto; width: 135%;">-->
<!--                          <table class="table table-sm table-bordered">-->
<!--                            <thead class="table-primary">-->
<!--                            <tr>-->
<!--                              <th>Product Image</th>-->
<!--                              <th>Title</th>-->
<!--                              <th>Create Date</th>-->
<!--                              <th>Brand</th>-->
<!--                              &lt;!&ndash;                              <th>Action</th>&ndash;&gt;-->
<!--                            </tr>-->
<!--                            </thead>-->
<!--                            <tbody>-->
<!--                            <ng-container *ngIf="filteredPendingQC.length > 0; else paginatedData_PQC">-->
<!--                              &lt;!&ndash; Display filtered products &ndash;&gt;-->
<!--                              <tr *ngFor="let pendingQC of (paginatedPendingQC.length > 0 ? paginatedPendingQC :filteredPendingQC); let x = index;">-->
<!--                                <td align="center"><img src="{{ imagePathURI + pendingQC.image }}" height="60px"-->
<!--                                                        width="60px"-->
<!--                                                        (error)="onImageError($event)" (click)="popUpImagePending(x)"/>-->
<!--                                  &lt;!&ndash;<td class="productData">{{ pendingQC.title }} <br> {{ pendingQC.productCode }} <br>{{ pendingQC.categoryPath }} </td>&ndash;&gt;-->

<!--                                <td><p style="margin: 0px; font-size: 16px; color: #000">{{-->
<!--                                  pendingQC.title}}</p>-->
<!--                                  <p style="margin: 0px;font-size: 16px; color: #000">{{-->
<!--                                    pendingQC.productCode }}</p>-->
<!--                                  <p style="margin: 0px; font-size: 14px; color: #6f6f6f;"> &nbsp; &nbsp;{{pendingQC.categoryPath}}</p>-->
<!--                                </td>-->
<!--                                <td>{{ pendingQC.createDate }}</td>-->
<!--                                <td>{{ pendingQC.brand }}</td>-->
<!--                                &lt;!&ndash;                                <td>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                  <button type="button" (click)='editGetProduct(x)'&ndash;&gt;-->
<!--                                &lt;!&ndash;                                          style="width: 96px;height: 28px;font-size: 10px;"&ndash;&gt;-->
<!--                                &lt;!&ndash;                                          class="btn btn-outline-success">Edit&ndash;&gt;-->
<!--                                &lt;!&ndash;                                  </button>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                </td>&ndash;&gt;-->
<!--                              </tr>-->
<!--                            </ng-container>-->
<!--                            <ng-template #paginatedData_PQC>-->
<!--                              &lt;!&ndash; Display paginated items if filteredProducts is empty &ndash;&gt;-->
<!--                              <tr-->
<!--                                      *ngFor="let pendingQC of (paginatedPendingQC.length > 0 ? paginatedPendingQC : approvalPartnerProductList); let x = index;">-->
<!--                                <td align="center"><img src="{{ imagePathURI + pendingQC.image }}" height="60px"-->
<!--                                                        width="60px"-->
<!--                                                        (error)="onImageError($event)" (click)="popUpImagePending(x)"/>-->
<!--                                  &lt;!&ndash;<td class="productData">{{ pendingQC.title }} <br> {{ pendingQC.productCode }} <br>{{ pendingQC.categoryPath }} </td>&ndash;&gt;-->
<!--                                <td><p style="margin: 0px; font-size: 16px; color: #000">{{-->
<!--                                  pendingQC.title}}</p>-->
<!--                                  <p style="margin: 0px;font-size: 16px; color: #000">{{-->
<!--                                    pendingQC.productCode }}</p>-->
<!--                                  <p style="margin: 0px; font-size: 14px; color: #6f6f6f;"> &nbsp; &nbsp;{{pendingQC.categoryPath}}</p>-->
<!--                                </td>-->
<!--                                <td>{{ pendingQC.createDate }}</td>-->
<!--                                <td>{{ pendingQC.brand }}</td>-->
<!--                                &lt;!&ndash;                                <td>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                  <button type="button" (click)='editGetProduct(x)'&ndash;&gt;-->
<!--                                &lt;!&ndash;                                          style="width: 96px;height: 28px;font-size: 10px;"&ndash;&gt;-->
<!--                                &lt;!&ndash;                                          class="btn btn-outline-success">Edit&ndash;&gt;-->
<!--                                &lt;!&ndash;                                  </button>&ndash;&gt;-->
<!--                                &lt;!&ndash;                                </td>&ndash;&gt;-->
<!--                              </tr>-->
<!--                            </ng-template>-->
<!--                            <ng-template #imagePopup let-modal>-->
<!--                              <div class="modal-content">-->
<!--                                <div class="modal-header">-->
<!--                                  <h4 class="modal-title">Image Preview</h4>-->
<!--                                  <button type="button" class="close" (click)="closePopup()">-->
<!--                                    <span aria-hidden="true">&times;</span>-->
<!--                                  </button>-->
<!--                                </div>-->
<!--                                <div class="modal-body">-->
<!--                                  <img [src]="imageUrl" alt="Image" class="img-fluid">-->
<!--                                </div>-->
<!--                              </div>-->
<!--                            </ng-template>-->
<!--                            </tbody>-->
<!--                          </table>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="pull-right" style="margin-top: 15px">-->
<!--                      <app-pagination-->
<!--                              [currentPage]="currentPagePQC"-->
<!--                              [totalPages]="totalPagesPQC"-->
<!--                              (pageChange)="onPageChange($event,'PendingQC')"-->
<!--                      ></app-pagination>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </ng-template>-->
<!--            </ngb-tab>-->

<!--            <ngb-tab [title]="PendingStockAllocation()">-->
<!--              <ng-template ngbTabContent>-->
<!--                <div class="tab-pane fade active show" id="account" role="tabpanel" aria-labelledby="account-tab">-->
<!--                  <div class="custom-datatable">-->

<!--                    <div class="row">-->
<!--                      <div class="col-md-6">-->
<!--                        <input autofocus type="text" class="form-control" placeholder="Search By Product Name..."-->
<!--                               (input)="PendingStockAllocationFilter($event.target.value)" style="width: 60%"/>-->
<!--                      </div>-->
<!--                      <div class="col-md-6" *ngIf="isAdmin">-->
<!--                        <input autofocus type="text" class="form-control" placeholder="Search By Business Name..."-->
<!--                               (input)="filterPendingStockAllocationByBusinessName($event.target.value)"-->
<!--                               style="width: 60%"/>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="clearfix"></div>-->
<!--                    <div class="row">-->
<!--                      <div class="col-md-9">-->
<!--                        <div class="row table-responsive"-->
<!--                             style="margin-top: 1%;max-height:70vh; overflow-y: auto; width: 135%;">-->
<!--                          <table class="table table-sm table-bordered">-->
<!--                            <thead class="table-primary">-->
<!--                            <tr>-->
<!--                              <th>Product Image</th>-->
<!--                              <th>Title</th>-->
<!--                              <th>Price</th>-->
<!--                              <th>Stock in hand</th>-->
<!--                              <th>Create Date</th>-->
<!--                              <th *ngIf="!isAdmin">Action</th>-->
<!--                            </tr>-->
<!--                            &lt;!&ndash;*ngIf="isPartner"&ndash;&gt;-->
<!--                            </thead>-->
<!--                            <tbody>-->
<!--                            <ng-container *ngIf="filterdPendingAllocation.length > 0; else paginatedData">-->
<!--                              &lt;!&ndash; Display filtered products &ndash;&gt;-->
<!--                              <tr *ngFor="let productDetail of (paginatedPendingStockAllow.length > 0 ? paginatedPendingStockAllow : filterdPendingAllocation); let i = index;">-->
<!--                                <td align="center"><img src="{{ imagePathURI + productDetail.image }}" height="60px"-->
<!--                                                        width="60px"-->
<!--                                                        (error)="onImageError($event)" (click)="popUpImagePendingAllocation(i)"/>-->
<!--                                </td>-->
<!--                                <td><p style="margin: 0px; font-size: 16px; color: #000;">{{-->
<!--                                  productDetail.title}}</p>-->
<!--                                  <p style="margin: 0px;font-size: 16px; color: #000">{{-->
<!--                                    productDetail.productCode }}</p>-->
<!--                                  <p style="margin: 0px; font-size: 14px; color: #6f6f6f;">&nbsp; &nbsp;{{productDetail.vendor}}</p>-->
<!--                                  <p style="margin: 0px; font-size: 14px; color: #6f6f6f;"> &nbsp; &nbsp;{{productDetail.categoryPath}}</p>-->
<!--                                </td>-->
<!--                                <td>-->
<!--                                  <input type="text" disabled style="width:100px; height: 30px; border: none;"-->
<!--                                         [value]="productDetail.price" autofocus/>-->
<!--                                  <img [hidden]="true" style="text-align: right" mat-button-->
<!--                                       (click)="EditPricePopup(i,1)"-->
<!--                                       *ngIf="EnablePriceEdit"-->
<!--                                       src="assets/images/EditImage.png" height="20px" weight="20px" title="Edit Price">-->
<!--                                </td>-->
<!--                                <td>-->
<!--                                  <input type="text" disabled style="width:70px; height: 30px; border: none;"-->
<!--                                         [value]="productDetail.in_stock"/>-->
<!--                                  <img style="text-align: right" mat-button (click)="EditStockPopup(i,1,0)"-->
<!--                                       *ngIf="EnableStockEdit"-->
<!--                                       src="assets/images/EditImage.png" height="20px" weight="20px" title="Edit Stock">-->
<!--                                </td>-->
<!--                                <td>{{ productDetail.createDate }}</td>-->
<!--                                <td *ngIf="!isAdmin"><button class="btn btn-success" (click)="pendingStockAllocationAction(productDetail)">Add Stock</button></td>-->
<!--                              </tr>-->
<!--                            </ng-container>-->
<!--                            <ng-template #paginatedData>-->
<!--                              <tr-->
<!--                                      *ngFor="let productDetail of (paginatedPendingStockAllow.length > 0 ? paginatedPendingStockAllow : pending_stock_allocation); let i = index;">-->
<!--                                <td align="center">{{stopLoading()}}<img src="{{ imagePathURI + productDetail.image }}"-->
<!--                                                                         (click)="popUpImagePendingAllocation(i)" height="60px"-->
<!--                                                                         width="60px"-->
<!--                                                                         (error)="onImageError($event)"/></td>-->
<!--                                <td><p style="margin: 0px; font-size: 16px; color: #000;">{{-->
<!--                                  productDetail.title}}</p>-->
<!--                                  <p style="margin: 0px;font-size: 16px; color: #000">{{-->
<!--                                    productDetail.productCode }}</p>-->
<!--                                  <p style="margin: 0px; font-size: 14px; color: #6f6f6f;">&nbsp; &nbsp;{{productDetail.vendor}}</p>-->
<!--                                  <p style="margin: 0px; font-size: 14px; color: #6f6f6f;"> &nbsp; &nbsp;{{productDetail.categoryPath}}</p>-->
<!--                                </td>-->
<!--                                <td>-->
<!--                                  <input type="text" disabled style="width:100px; height: 30px; border: none;"-->
<!--                                         [value]="productDetail.price" autofocus/>-->
<!--                                  &lt;!&ndash;[hidden]="true"&ndash;&gt;-->
<!--                                  <img [hidden]="true" style="text-align: right" mat-button-->
<!--                                       (click)="EditPricePopup(i, 1)"-->
<!--                                       *ngIf="EnablePriceEdit"-->
<!--                                       src="assets/images/EditImage.png" height="20px" weight="20px" title="Edit Price">-->

<!--                                  <button [hidden]="true" *ngIf="EnablePriceEdit" type="button" class="btn btn-primary"-->
<!--                                          style="text-align: right"-->
<!--                                          (click)="popup(productDetail.price,productDetail.productCode)"><i-->
<!--                                          class="fa fa-edit"></i></button>-->
<!--                                </td>-->
<!--                                <td>-->
<!--                                  <input type="text" disabled style="width:70px; height: 30px; border: none;"-->
<!--                                         [value]="productDetail.in_stock"/>-->
<!--                                </td>-->
<!--                                <td>{{ productDetail.createDate }}</td>-->
<!--                                <td *ngIf="!isAdmin"><button class="btn btn-success" (click)="pendingStockAllocationAction(productDetail)">Add Stock</button></td>-->
<!--                              </tr>-->
<!--                            </ng-template>-->
<!--                            <ng-template #imagePopup let-modal>-->
<!--                              <div class="modal-content">-->
<!--                                <div class="modal-header">-->
<!--                                  <h4 class="modal-title">Image Preview</h4>-->
<!--                                  <button type="button" class="close" (click)="closePopup()">-->
<!--                                    <span aria-hidden="true">&times;</span>-->
<!--                                  </button>-->
<!--                                </div>-->
<!--                                <div class="modal-body">-->
<!--                                  <img [src]="imageUrl" alt="Image" class="img-fluid">-->
<!--                                </div>-->
<!--                              </div>-->
<!--                            </ng-template>-->
<!--                            </tbody>-->
<!--                          </table>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="pull-right" style="margin-top: 15px">-->
<!--                      <app-pagination-->
<!--                              [currentPage]="currentPagePendingAllo"-->
<!--                              [totalPages]="totalPagesPendingAllow"-->
<!--                              (pageChange)="onPageChange($event,'PendingStockAllocation')"-->
<!--                      ></app-pagination>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </ng-template>-->
<!--            </ngb-tab>-->

          </ngb-tabset>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->

