<!--<select style="margin-top: 20px" (change) ="changeBulkTemplateOnCategory($event)">-->
<!--  <option disabled [selected]="true">&#45;&#45;SELECT CATEGORY&#45;&#45;</option>-->
<!--  <option *ngFor="let category of partnerSpecificCategoryArr"-->
<!--          [value]="category.catName">{{category.catName}}</option>-->
<!--</select>-->

<div class="card" style="margin: 20px">
  <div class="card-header">
    <h5>Please Select a Category to Upload the Bulk</h5>
  </div>
  <div class="card-body">
    <ng-select [options]="partnerSpecificCategoryArrForTemplate" [multiple]="false" placeholder="Select Category"
               (selected)="changeBulkTemplateOnCategory($event)"></ng-select>
    <div *ngIf="bulkTemplateCatSelected" class="download_url">
      <!--<a [href]="bulkTemplateHref"><i class="fa fa-download">&nbsp; Download the Sample Document-->
        <!--Template for Bulk Upload {{selectedCategoryForTemplate}}</i></a>-->
      <button (click)="downloadTemplate()" class="button-66" role="button"> <i class="fa fa-cloud-download" aria-hidden="true"></i> &nbsp; Download the Sample Document {{selectedCategoryForTemplate}}</button>
    </div>
  </div>
</div>
<div class="item-wrapper one" xmlns="http://www.w3.org/1999/html" *ngIf="bulkTemplateCatSelected">
  <div class="item">
    <div class="item-inner">
      <div class="item-content">
        <form class="form" [formGroup]="bioSection" (ngSubmit)="callingFunction()">



          <div class="dropzone row" (drop)="changeValue($event)" (dragover)="changeValue($event)"
               (dragleave)="changeValue($event)">
            <label class="col col-6" style="cursor: pointer;"> <img src="" alt="" class="uploaded-image">
              <div class="h-100">
                <div class="dplay-tbl">
                  <div class="dplay-tbl-cell"><i class="fa fa-cloud-upload"></i>
                    <h5><b>Choose Your Exel File to Upload</b></h5>
                    <h6 class="mt-10 mb-70">Or Drop Your Exel Here</h6>
                    <h6 class="mt-10 mb-70" id="prepend-big-btn"></h6>
                  </div>
                </div>
              </div>
            </label>
            <div class="">
              <div>
                <input formControlName="Exel_file" data-required="file" accept=".xlsx, .xls" type="file"
                       id="Exel_file"
                       class="form-control-file" (change)="changeValue($event)"
                       data-traget-resolution="image_resolution" value="">
              </div>

            </div>
            <div class="col col-1">
              <div style="width: 100%;">
                <div class="pull-right" style="margin-right: 20px;">
<!--                  <img src="assets/images/ExcelDownload.png"  width="10px" height="10px" data-toggle="tooltip"-->
<!--                       data-placement="bottom" title="Download Bulk Upload Excel"-->
<!--                       style="color: dodgerblue;cursor: pointer" (click)="downloadBulkItemExcel();"/>-->



                </div>
              </div>
            </div>

          </div>
          <div class="download_url">
<!--          <a  href="url">Download the Sample Document Template for Bulk Upload</a>-->
            <a href="assets/excel/BulkUpload.xlsx"><i class="fa fa-download">&nbsp; Download the Sample Document Template for Bulk Upload</i></a>
          </div>

        </form>

      </div>
    </div>

  </div>
</div>
<div class="card">
  <div class="card-title">
    <br>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered" style="padding-left: 10px;">
      <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Category</th>
        <th scope="col" *ngIf="showAddImagesElement">Product Code</th>
        <th scope="col">Product Name</th>
        <th scope="col">Brand</th>
        <th scope="col" *ngIf="showAllElements">SellerSKU</th>
        <th scope="col">Listing Price</th>
        <th scope="col" *ngIf="showAllElements">Margin Rate</th>
        <th scope="col" *ngIf="showAllElements">Seller Income</th>
        <th scope="col" *ngIf="showAllElements">Product Description</th>
        <th scope="col" *ngIf="showAllElements">Product Variation</th>
        <th scope="col" *ngIf="showAddImagesElement">Image 1</th>
        <th scope="col" *ngIf="showAddImagesElement">Image 2</th>
        <th scope="col" *ngIf="showAddImagesElement">Image 3</th>
        <th scope="col" *ngIf="showAddImagesElement">Image 4</th>
        <th scope="col" *ngIf="showAddImagesElement">Image 5</th>
      </tr>
      </thead>
      <tbody>
      <tr [id]="'index_'+i" *ngFor="let tbleArray of tableArray let i = index" [attr.data-index]="i">
        <td [id]="'status_'+i">{{i + 1}}</td>
        <td [id]="'addImageBtn_'+i" *ngIf="showSavedElements">
          <button [id]="'addImageButton_'+i" class="button-61" (click)="popUpImageActive(i)">Add Images
          </button>


          <!--<button class="button-61" role="button">Add Images</button>-->







        </td>
        <td *ngIf="showAddImagesElement">{{ afterSavedArray[i]?.productCode }}</td>
        <td>{{tbleArray.productName}}</td>
        <td>{{tbleArray.brand}}</td>
        <td *ngIf="showAllElements">{{tbleArray.sellerSku}}</td>
        <td>{{tbleArray.listingPrice}}</td>
        <td *ngIf="showAllElements">{{tbleArray.marginRate}}</td>
        <td *ngIf="showAllElements">{{tbleArray.sellerIncome}}</td>
        <td *ngIf="showAllElements">{{tbleArray.productDescription}}</td>
        <td *ngIf="showAllElements">{{tbleArray.productVariant}}</td>
        <td *ngIf="showAddImagesElement">
          <div class="box-input-file" style="position: relative; color: #00c292">
            <input type="file" style="display: none;" [id]="'fileInput_' + i + '_1'" accept="image/*"
                   required (change)="onFileInputChange($event, i, 1,afterSavedArray[i].productCode)">
            <img class="imgUpload col" [id]="'imgUpload_' + i + '_1'" alt="Click To Add Image"
                 [src]="getImageSource(i + 1, 1)" (click)="openFileInput(i, 1)">
          </div>
        </td>
        <td *ngIf="showAddImagesElement">
          <div class="box-input-file" style="position: relative; color: #00c292">
            <input type="file" style="display: none;" [id]="'fileInput_' + i + '_2'" accept="image/*"
                   required (change)="onFileInputChange($event, i, 2,afterSavedArray[i].productCode)">
            <img class="imgUpload col" [id]="'imgUpload_' + i + '_2'" alt="Click To Add Image"
                 [src]="getImageSource(i + 1, 2)" (click)="openFileInput(i, 2)">
          </div>
        </td>
        <td *ngIf="showAddImagesElement">
          <div class="box-input-file" style="position: relative; color: #00c292">
            <input type="file" style="display: none;" [id]="'fileInput_' + i + '_3'" accept="image/*"
                   required (change)="onFileInputChange($event, i, 3,afterSavedArray[i].productCode)">
            <img class="imgUpload col" [id]="'imgUpload_' + i + '_3'" alt="Click To Add Image"
                 [src]="getImageSource(i + 1, 3)" (click)="openFileInput(i, 3)">
          </div>
        </td>
        <td *ngIf="showAddImagesElement">
          <div class="box-input-file" style="position: relative; color: #00c292">
            <input type="file" style="display: none;" [id]="'fileInput_' + i + '_4'" accept="image/*"
                   required (change)="onFileInputChange($event, i, 4,afterSavedArray[i].productCode)">
            <img class="imgUpload col" [id]="'imgUpload_' + i + '_4'" alt="Click To Add Image"
                 [src]="getImageSource(i + 1, 4)" (click)="openFileInput(i, 4)">
          </div>
        </td>
        <td *ngIf="showAddImagesElement">
          <div class="box-input-file" style="position: relative; color: #00c292">
            <input type="file" style="display: none;" [id]="'fileInput_' + i + '_5'" accept="image/*"
                   required (change)="onFileInputChange($event, i, 5,afterSavedArray[i].productCode)">
            <img class="imgUpload col" [id]="'imgUpload_' + i + '_5'" alt="Click To Add Image"
                 [src]="getImageSource(i + 1, 5)" (click)="openFileInput(i, 5)">
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <ng-template #imagePopup let-modal>
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add Images for product: <h6> {{productNameModal}} </h6> </h4>
        </div>
        <div class="modal-body">
          <table class="table">
            <td>
              <div class="box-input-file" style="position: relative; color: #00c292">
                <input type="file" style="display: none;" [id]="'fileInput_' + modalIndex + '_1'" accept="image/jpeg"
                       required (change)="onFileInputChange($event, modalIndex, 1,modalIndex)">
                <img class="imgUpload col" [id]="'imgUpload_' + modalIndex + '_1'" alt="Click To Add Image"
                     [src]="getImageSource(modalIndex + 1, 1)" (click)="openFileInput(modalIndex, 1)">

              </div>
            </td>
            <td>
              <div class="box-input-file" style="position: relative; color: #00c292">
                <input type="file" style="display: none;" [id]="'fileInput_' + modalIndex + '_2'" accept="image/jpeg"
                       required (change)="onFileInputChange($event, modalIndex, 2,modalIndex)">
                <img class="imgUpload col" [id]="'imgUpload_' + modalIndex + '_2'" alt="Click To Add Image"
                     [src]="getImageSource(modalIndex + 1, 2)" (click)="openFileInput(modalIndex, 2)">
              </div>
            </td>
            <td>
              <div class="box-input-file" style="position: relative; color: #00c292">
                <input type="file" style="display: none;" [id]="'fileInput_' + modalIndex + '_3'" accept="image/jpeg"
                       required (change)="onFileInputChange($event, modalIndex, 3,modalIndex)">
                <img class="imgUpload col" [id]="'imgUpload_' + modalIndex + '_3'" alt="Click To Add Image"
                     [src]="getImageSource(modalIndex + 1, 3)" (click)="openFileInput(modalIndex, 3)">
              </div>
            </td>
            <td>
              <div class="box-input-file" style="position: relative; color: #00c292">
                <input type="file" style="display: none;" [id]="'fileInput_' + modalIndex + '_4'" accept="image/jpeg"
                       required (change)="onFileInputChange($event, modalIndex, 4,modalIndex)">
                <img class="imgUpload col" [id]="'imgUpload_' + modalIndex + '_4'" alt="Click To Add Image"
                     [src]="getImageSource(modalIndex + 1, 4)" (click)="openFileInput(modalIndex, 4)">
              </div>
            </td>
            <td>
              <div class="box-input-file" style="position: relative; color: #00c292">
                <input type="file" style="display: none;" [id]="'fileInput_' + modalIndex + '_5'" accept="image/jpeg"
                       required (change)="onFileInputChange($event, modalIndex, 5,modalIndex)">
                <img class="imgUpload col" [id]="'imgUpload_' + modalIndex + '_5'" alt="Click To Add Image"
                     [src]="getImageSource(modalIndex + 1, 5)" (click)="openFileInput(modalIndex, 5)">
              </div>
            </td>
          </table>



  </div>
</div>

<div class="upload-btn" *ngIf="excelUploaded">
        <!--<button class="btn btn-primary" *ngIf="!uploaded && showAllElements" [disabled]="clicked"-->
              <!--(click)="bulkProductSave($event)" style="width: 306px;">Add Images-->

    <!--</button>-->
  <button [id]="'btn_status'" type="button" class="button-37" *ngIf="!uploaded && needVerification"
          (click)="syncWrapper(verifyDetails())" style="width: 306px;">
    <span>
    <div *ngIf="verifying" class="spinner-border spinner-border-sm" role="status"></div><i [id]="'btn_status_icon'"
                                                                                           *ngIf="!verifying"
                                                                                           class="fa fa-check-circle-o"></i>
  </span> Verify Details
  </button>

  <!--<button class="button-37" role="button"><i class="fa fa-check-circle-o"></i> &nbsp;  Verify Details</button>-->

  <button class="button-38" *ngIf="!needVerification && !disableSaveButton" [disabled]="disableSaveButton" (click)="bulkProductSave($event)"
          style="width: 306px;">Save Products
  </button>
</div>
<!--<form [formGroup]="bioSection" (ngSubmit)="callingFunction()">-->
<!--<label>-->
<!--Age:-->
<!--<input (change)="changeValue($event)" type="file" formControlName="files">-->
<!--</label>-->
<!--<button type="submit">Submit Application</button>-->
<!--</form>-->
