body {
  background: #eee
}
.item-wrapper[_ngcontent-serverApp-c318] input[_ngcontent-serverApp-c318] {
  margin-top: 20px;
  height: 51px !important;
  line-height: 43px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
  width: 100%;
}
.dropzone {
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
  border: 2px dashed #000080;
  border-radius: 15px;
  min-height: 150px;
}
.upload-btn{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.item .item-content {
  padding: 30px 35px
}



.image-upload {
  width: 100%;
  height: 300px;
  border: 1px dashed #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
  position: relative;
  text-align: center;
  background: #f8f8f9;
  color: #666;
  overflow: hidden
}

.item-wrapper form img {
  margin-bottom: 20px;
  width: auto;
  height: auto;
  max-height: 400px;
  width: auto;
  border-radius: 5px;
  overflow: hidden
}

.image-upload img {
  height: 100% !important;
  width: auto !important;
  border-radius: 0px;
  margin: 0 auto
}

.image-upload i {
  font-size: 6em;
  color: #ccc
}

.image-upload input {
  cursor: pointer;
  opacity: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0
}
.dropzone.row{
  position: relative;
}
.form-control-file{
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  height: auto !important;
}

//.table-bordered .tr .th {
//  text-align: center;
//  font-size: 12px;
//}

.download_url{
  margin-top: 10px;
}
.upload-btn button{
  margin-bottom: 20px;

}


.download_url a {
  text-transform:lowercase ;
  font-size: 10px;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
}

.item-wrapper input {
  height: 43px;
  line-height: 43px;
  border: 1px solid #ddd;
  border-radius: 4px;

}

.imgUpload.col {
  padding-left: 2px;
  padding-right: 2px;
  max-width: 70px;
}

.edit-icon {
  position: absolute;
  bottom: 10px;
  left: 10px;
  cursor: pointer;
}

.table.table-bordered .icon-td {
  position: relative;
}

.swal2-container {
  z-index: 9999 !important;
  position: relative;
}

.disabled-row {
  color: #777; /* Change the color to the desired gray shade */
  background-color: #f9f9f9; /* Change the background color to the desired gray shade */
  opacity: 0.5; /* Adjust the opacity to make it visually disabled */
  pointer-events: none; /* Disable pointer events on the row */
}

.text-on-disabled {
  color: #f00;

}

