<div class="item-wrapper one" xmlns="http://www.w3.org/1999/html">
  <div class="item">
    <div class="item-inner">
      <div class="item-content">
        <form class="form" [formGroup]="bioSection" (ngSubmit)="callingFunction()">



          <div class="dropzone row" (drop)="changeValue($event)" (dragover)="changeValue($event)"
               (dragleave)="changeValue($event)">
            <label class="col col-6" style="cursor: pointer;"> <img src="" alt="" class="uploaded-image">
              <div class="h-100">
                <div class="dplay-tbl">
                  <div class="dplay-tbl-cell"><i class="fa fa-cloud-upload"></i>
                    <h5><b>Choose Your Exel File to Upload</b></h5>
                    <h6 class="mt-10 mb-70">Or Drop Your Exel Here</h6>
                    <h6 class="mt-10 mb-70" id="prepend-big-btn"></h6>
                  </div>
                </div>
              </div>
            </label>
            <div class="">
              <div>
                <input formControlName="Exel_file" data-required="file" accept=".xlsx, .xls" type="file"
                       id="Exel_file"
                       class="form-control-file" (change)="changeValue($event)"
                       data-traget-resolution="image_resolution" value="">
              </div>

            </div>
            <div class="col col-1">
              <div style="width: 100%;">
                <div class="pull-right" style="margin-right: 20px;">
<!--                  <img src="assets/images/ExcelDownload.png"  width="10px" height="10px" data-toggle="tooltip"-->
<!--                       data-placement="bottom" title="Download Bulk Upload Excel"-->
<!--                       style="color: dodgerblue;cursor: pointer" (click)="downloadBulkItemExcel();"/>-->



                </div>
              </div>
            </div>

          </div>
          <div class="download_url">
<!--          <a  href="url">Download the Sample Document Template for Bulk Upload</a>-->
            <a href="assets/excel/BulkUpload.xlsx"><i class="fa fa-download">&nbsp; Download the Sample Document Template for Bulk Upload</i></a>
          </div>

        </form>

      </div>
    </div>

  </div>
</div>
<div class="card">
  <div class="card-title">
    <br>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Category</th>
        <th scope="col" *ngIf="showAddImagesElement">Product Code</th>
        <th scope="col">Product Name</th>
        <th scope="col">Brand</th>
        <th scope="col" *ngIf="showAllElements">SellerSKU</th>
        <th scope="col">Listing Price</th>
        <th scope="col" *ngIf="showAllElements">Margin Rate</th>
        <th scope="col" *ngIf="showAllElements">Seller Income</th>
        <th scope="col" *ngIf="showAllElements">Product Description</th>
        <th scope="col" *ngIf="showAllElements">Product Variation</th>
        <th scope="col" *ngIf="showAddImagesElement">Image 1</th>
        <th scope="col" *ngIf="showAddImagesElement">Image 2</th>
        <th scope="col" *ngIf="showAddImagesElement">Image 3</th>
        <th scope="col" *ngIf="showAddImagesElement">Image 4</th>
        <th scope="col" *ngIf="showAddImagesElement">Image 5</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let tbleArray of tableArray let i = index" [attr.data-index]="i">
        <td>{{tbleArray.index}}</td>
        <td>
          <select [disabled]="showAddImagesElement" (change)="onCategoryChange($event, i, tbleArray.listingPrice)">
            <option [selected]="true">--SELECT CATEGORY--</option>
            <option *ngFor="let category of partnerSpecificCategoryArr"
                    [value]="category.catCode">{{category.catName}}</option>
          </select>
        </td>
        <td *ngIf="showAddImagesElement">{{ afterSavedArray[i]?.productCode }}</td>
        <td>{{tbleArray.productName}}</td>
        <td>{{tbleArray.brand}}</td>
        <td *ngIf="showAllElements">{{tbleArray.sellerSku}}</td>
        <td>{{tbleArray.listingPrice}}</td>
        <td *ngIf="showAllElements">{{tbleArray.marginRate}}</td>
        <td *ngIf="showAllElements">{{tbleArray.sellerIncome}}</td>
        <td *ngIf="showAllElements">{{tbleArray.productDescription}}</td>
        <td *ngIf="showAllElements">{{tbleArray.productVariant}}</td>
        <td *ngIf="showAddImagesElement">
          <div class="box-input-file" style="position: relative; color: #00c292">
            <input type="file" style="display: none;" [id]="'fileInput_' + i + '_1'" accept="image/*"
                   required (change)="onFileInputChange($event, i, 1,afterSavedArray[i].productCode)">
            <img class="imgUpload col" [id]="'imgUpload_' + i + '_1'" alt="Click To Add Image"
                 [src]="getImageSource(i + 1, 1)" (click)="openFileInput(i, 1)">
          </div>
        </td>
        <td *ngIf="showAddImagesElement">
          <div class="box-input-file" style="position: relative; color: #00c292">
            <input type="file" style="display: none;" [id]="'fileInput_' + i + '_2'" accept="image/*"
                   required (change)="onFileInputChange($event, i, 2,afterSavedArray[i].productCode)">
            <img class="imgUpload col" [id]="'imgUpload_' + i + '_2'" alt="Click To Add Image"
                 [src]="getImageSource(i + 1, 2)" (click)="openFileInput(i, 2)">
          </div>
        </td>
        <td *ngIf="showAddImagesElement">
          <div class="box-input-file" style="position: relative; color: #00c292">
            <input type="file" style="display: none;" [id]="'fileInput_' + i + '_3'" accept="image/*"
                   required (change)="onFileInputChange($event, i, 3,afterSavedArray[i].productCode)">
            <img class="imgUpload col" [id]="'imgUpload_' + i + '_3'" alt="Click To Add Image"
                 [src]="getImageSource(i + 1, 3)" (click)="openFileInput(i, 3)">
          </div>
        </td>
        <td *ngIf="showAddImagesElement">
          <div class="box-input-file" style="position: relative; color: #00c292">
            <input type="file" style="display: none;" [id]="'fileInput_' + i + '_4'" accept="image/*"
                   required (change)="onFileInputChange($event, i, 4,afterSavedArray[i].productCode)">
            <img class="imgUpload col" [id]="'imgUpload_' + i + '_4'" alt="Click To Add Image"
                 [src]="getImageSource(i + 1, 4)" (click)="openFileInput(i, 4)">
          </div>
        </td>
        <td *ngIf="showAddImagesElement">
          <div class="box-input-file" style="position: relative; color: #00c292">
            <input type="file" style="display: none;" [id]="'fileInput_' + i + '_5'" accept="image/*"
                   required (change)="onFileInputChange($event, i, 5,afterSavedArray[i].productCode)">
            <img class="imgUpload col" [id]="'imgUpload_' + i + '_5'" alt="Click To Add Image"
                 [src]="getImageSource(i + 1, 5)" (click)="openFileInput(i, 5)">
          </div>
        </td>
      </tr>
      </tbody>
    </table>



  </div>
</div>

<div class="upload-btn">
  <button class="btn btn-primary"  *ngIf="!uploaded && showAllElements"
          (click)="bulkProductSave($event)" style="width: 306px;">Upload Products
  </button>
  <button class="btn btn-success" *ngIf="showAddImagesElement" (click)="bulkImageSave($event)"
          style="width: 306px;">Save Bulk
  </button>
</div>
<!--<form [formGroup]="bioSection" (ngSubmit)="callingFunction()">-->
<!--<label>-->
<!--Age:-->
<!--<input (change)="changeValue($event)" type="file" formControlName="files">-->
<!--</label>-->
<!--<button type="submit">Submit Application</button>-->
<!--</form>-->
