<div>
  <div class="card">
    <div class="card-header">
      <strong><h4>basic info</h4></strong>
    </div>
    <div class="card-body">
      <div class="card-info">
        <div class="col-6">
          <label class="col-form-label">Product Code</label>
          <input class="form-control" id="productCode" type="text" required="" disabled>
        </div>
        <div class="col-6">
          <label class="col-form-label">Product Name</label>
          <input class="form-control" id="productName" type="text" required="" disabled>
        </div>
        <div class="col-6">
          <label class="col-form-label">Vendor Id</label>
          <input class="form-control" id="vendorId" type="text" required="" disabled>
        </div>
        <div class="col-6">
          <label class="col-form-label">Vendor Name</label>
          <input class="form-control" id="vendorName" type="text" required="" disabled>
        </div>
      </div>
      <br>
      <br>
      <hr>
      <div class="details">

        <div class="col-6 " *ngIf="subType_!=='product_variation'">
          <div class="card-title"><strong>Old Fields</strong></div>
          <div class="col-12" *ngFor="let oldData of oldInputData">
            <label class="col-form-label" style="font-weight: bold">{{oldData['title']}}</label>
            <input class="form-control" disabled value="{{oldData['value']}}"
                   type="text" required="" hidden>
            <div [innerHtml]="oldData['value']"></div>
          </div>
        </div>

        <div class="col-6">
          <div class="card-title"><strong>New Fields</strong></div>
          <div class="col-12" *ngIf="subType_!=='product_variation'">
            <div *ngFor="let newData of newInputData; let i=index;">
                          <label class="col-form-label" style="font-weight: bold">{{newData['title']}}</label>
                          <input class="form-control" id="txt_selli" type="text" required="" value="{{newData['value']}}" hidden disabled>
                          <div  [innerHtml]="newData['value']"></div>
            </div>
          </div>
          <div class="col-12" *ngIf="subType_=='product_variation'">
            <table>
              <tr>
                <th style="width: 70px;">Color</th>
                <th class="d-flex justify-content-center align-items-center" style="width: 50px;">Size</th>
              </tr>
              <tr  *ngFor="let newData of newInputData; let i=index;">
                <td><div style="margin:5px; padding: 10px; background:{{newData['color']}} ;"></div></td>
                <td class="d-flex justify-content-center align-items-center">{{newData['size']}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <br>
      <div class="col-12 button">

        <button class="btn btn-success" type="button" (click)="approvefield()" style="margin-left: 15px;">Approve</button>
        <button class="btn btn-danger" type="button" (click)="rejectfield()" style="margin-left: 15px;">Reject</button>

      </div>

    </div>
  </div>

</div>

