.card-header{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

p{
  margin: 0px;
  font-size: 14px;
  color: #6f6f6f;
  margin-left: 12px;
}

.color-box {
  width: 45px;
  height: 25px;
}

.badge-custom-color {
  background-color: #F5B7B1;
  color: #ffffff;
}

.searchButtons btn{
  width: 100%;
}
